@import "base/variables";
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
body {
    margin: 0px;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .container {
        max-width: 720px
    }
}
@media (max-width: 575px) {
    .container {
        max-width: 540px
    }
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/button";
@import "blocks/advantages";
@import "blocks/consultation";