.button {
    width: 150px;
    height: 32px;
    border-radius: 5px;
    border: none;
    background: $main-color;
    font-size: 12px;
    text-transform: uppercase;
    color: #fefefe;
    &_main {
        width: 300px;
        height: 54px;
        margin-top: 65px;
        padding: 0px;
        font-size: 16px;
    }
    &_consultation {
        width: 300px;
        height: 54px;
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    .button {
        &_main {
            width: 236px;
            height: 40px;
            font-size: 13px;
            margin: 0 auto;
            margin-top: 40px;
        }
        &_consultation {
            width: 236px;
            height: 40px;
            margin: 0 auto;
            font-size: 12px;
        }
    }
}