.catalog {
    padding-bottom: 100px;
    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        padding-left: 0px;
    }
    &__tab {
        width: 223px;
        height: 52px;
        border: 2px solid #d0d0d0;
        color: #6b6b6b;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        line-height: 48px;
        text-transform: uppercase;
        transform: skew(-25deg);
        margin: 0px 5px;
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
        div {
            transform: skew(25deg);
        }
        &_active {
            background-color: $main-color;
            color: #fefefe;
            border:none;
        }
    }
    &__content {
        margin-top: 60px;
        display: none;
        justify-content: flex-start;
        flex-wrap: wrap;
        :nth-child(3n+3) {
            margin-right: 0px;
        }
        &_active {
            display: flex;
        }
    }
    &-item {
        width: 300px;
        min-height: 440px;
        box-sizing: border-box;
        border: 2px solid rgb(232, 232, 232);
        padding: 20px 20px 20px 20px;
        overflow: hidden;
        margin-bottom: 20px;
        margin-right: 20px;
        &__img {
            max-width: 100%;
            height: 200px;
            display: block;
            margin: 0 auto;
        }
        &__subtitle {
            margin-top: 20px;
            color: rgb(13, 13, 13);
            font-size: 16px;
            font-weight: 700;
            text-align: center;
        }
        &__descr {
            margin-top: 16px;
            color: rgb(13, 13, 13);
            font-size: 14px;
            font-weight: 300;
            text-align: center;
        }
        &__link {
            display: block;
            margin-top: 17px;
            color: $main-color;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            text-decoration-line: underline;
            text-transform: uppercase;
            &:hover {
                color: $main-color;
            }

        }
        hr {
            background-color: rgb(232, 232, 232);
            margin-top: 19px;
            margin-bottom: 21px;
            border-bottom: none;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            color: rgb(85, 85, 85);
            font-size: 14px;
            font-weight: 300;
            text-decoration-line: line-through;
        }
        &__current-price {
            color: rgb(5, 5, 5);
            font-size: 20px;
            font-weight: 700;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 80px);
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all;
            padding-left: 20px;
            margin-bottom: 0px;
            list-style-type: none;
            &_active {
                transform: translateX(-100%);
                margin-right: 0px;
            }
            ul {
                padding-left: 20px;
                li {
                    position: relative;
                    color: rgb(85, 85, 85);
                    font-size: 14px;
                    font-weight: 300;
                    margin-bottom: 20px;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        background-color: $main-color;
                        left: -14px;
                        top: 7px;
                    }
                }
            }
        }
        &__back {
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(calc(-50% - 10px));
            display: block;
            color: $main-color;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            text-decoration-line: underline;
            text-transform: uppercase;
            &:hover {
                color: $main-color;
            }
        }
    }
}
@media (max-width: 991px) {
    .catalog {
        padding: 0px 20px 50px 20px;
        &__tabs {
            width: 100%;
            margin: 0 auto;
            margin-top: 35px;
        }
        &__tab {
            max-width: 223px;
            height: 40px;
            font-size: 16px;
            line-height: 40px;
        }
        &__content {
            margin-top: 30px;
            justify-content: center;
            :nth-child(3n+3) {
                margin-right: 20px;
            }
        }
        &-item {
            width: 300px;
            &__subtitle {
                font-size: 13px;
            }
            &__descr {
                font-size: 12px;
            }
            &__link {
                font-size: 13px;
            }
            &__old-price {
                font-size: 13px;
            }
            &__current-price {
                font-size: 16px;
            }
            &__list {
                li {
                    font-size: 12px;
                }
            }
            &__back {
                font-size: 13px;
            }
        }
    }
}
@media (max-width: 575px) {
    .catalog {
        padding: 0px 10px 30px 10px;
        &__tabs {
            margin-top: 25px;
            flex-direction: column;
            :nth-child(1) {
                margin-top: 0px;
            }
        }
        &__tab {
            max-width: 550px;
            margin-top: 10px;
        }
        &__content {
            padding: 0px 10px;
        }
        &-item {
            width: 300px;
            margin-right: 0px;
        }
    }
}
