.pageup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    img {
        width: 100%;
        transform: rotate(90deg);
    }
}
@media (max-width: 991px) {
    .pageup {
        width: 25px;
        height: 25px;
    }
}
@media (max-width: 575px) {
    .pageup {
        width: 15px;
        height: 15px;
    }
}